ZeroCopy.xcodeproj/project.xcworkspace/xcuserdata/mgopsill.xcuserdatad/UserInterfaceState.xcuserstate
ZeroCopy.xcodeproj/xcuserdata/mgopsill.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Carthage/
ZeroCopy.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist